.sideFavorisList {
  height: 100%;
  width: 90%;
  position: fixed;
  z-index: 12;
  top: 0;
  right: -993px;
  background-color: #ffffff;
  padding: 15px 0px 35px 18px;
  opacity: 1;
  transition: all .8s cubic-bezier(0.91, 0.28, 0.12, 0.9);
  box-shadow: 0px 0px 36px #00000033;
  @include min(768px) {
    width: 498px;
    padding: 35px 0px 35px 18px;
  }
}
.sideFavorisList.show {
  opacity: 1;
  right: 0px;
  transition: all .5s cubic-bezier(0.91, 0.28, 0.12, 0.9);
}
.overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  transition: all 0.5s cubic-bezier(0.89, 0.05, 0.16, 0.6);
  opacity: 0;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}

.sideFavorisList-header {
  position: relative;
  margin-right: 20px;
  .titre-favoris {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $green;
    margin: 0;
    @include min(768px) {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .close-favoris-link {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: $green;
    color: #ffffff;
    border-radius: 5px;
    font-size: 30px;
    @include min(768px) {
      top: -10px;
      width: 40px;
      height: 40px;
      right: 10px;
    }
    i {
      font-size: 16px;
      @include min(768px) {
        font-size: 22px;
      }
    }
    &:hover {
      background-color: $green-2nd;
      border-color: $green-2nd;
      cursor: pointer;
    }
  }
}



.ul-projet-fav {
  list-style: none;
  padding-left: 0px;
  margin-right: 20px;
}
.li-projet-fav {
  position: relative;
  .project-fav-close {
    position: absolute;
    top: 50%;
    right: -12px;
    transform:translate(-50%, -50%);
    background: none;
    font-weight: normal;
    width: 20px;
    height: 20px;
    color: #E2E2E2;
    i {
      font-size: 16px;
      @include min(768px) {
        font-size: 22px;
      }
    }
    @include min(768px) {
      width: 40px;
      height: 40px;
      right: -10px;
    }
    &:hover {
      color: $grey94;
    }
  }
}
.li-projet-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.li-projet-fav-item {
  display: flex;
  border-bottom: 1px solid #E2E2E2;
  padding: 10px 0px;
  &:hover {
    background: #f3f3f3;
    cursor: pointer;
  }
  @include min(768px) {
    padding: 15px 18px;
  }
  .projet-fav-img {
    border-radius: 5px;
    width: 70px;
    min-width: 70px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
    @include min(768px) {
      width: 92px;
      min-width: 90px;
      height: 70px;
    }
  }
  .projet-fav-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: $green;
    margin-bottom:0px;
    @include min(768px) {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .projet-fav-localisation {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: $base;
    margin-bottom:0px;
    margin-top: 2px;
    @include min(768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .projet-fav-status {
    font-size: 12px;
    line-height: 14px;
    color: $base;
    margin-bottom: 0px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    @include min(768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.projet-fav-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
}
.fav-icon-status {
  .icobnd-check-circle {
    color: $green;
    padding-right: 10px;
  }
  .icobnd-progression-circle {
    color: $orange;
    padding-right: 5px;
  }
}

