//$mainGreen: #85b53d;

// paths
$imgPath: "../images/";
//$fontsPath: "../fonts/";


// fonts
$fontsPath: "../fonts/";
$qs : 'quicksand';

// color
$green:     #0fcb8f;
$green-2nd: #16B783;

$red:       #cd5c5c;
$red2nd:    #c73b3b;
$red3st:    #E53520;
$red4th :   #DC0000;

$brown:     #c73b3b;
$brown-2:     #54362B;

$base :     #242424;
$grey94:    #949494;
$greye2:    #949494;
$greyf8:    #949494;
$greyE2:    #e2e2e2;
$wht:       #fff;

$orange: #e99400
